* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Muli", "sans-serif";
  color: rgb(58, 58, 58);
}
button {
  font-family: "Muli", "sans-serif";
}

path,
i,
svg {
  pointer-events: none;
}

.colors {
  min-height: 80vh;
  display: flex;
  color: rgb(223, 223, 223);
}
.color {
  height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.color h2 {
  font-size: 2rem;
  cursor: pointer;
}

.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0%;
  opacity: 0;
  background: rgb(255, 255, 255);
  padding: 1rem;
  width: 80%;
  color: rgb(131, 131, 131);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  pointer-events: none;
  /* We are adding an adjustment class here */
  transform: translateY(100px);
  transition: all 0.5s ease-in-out;
}
.sliders.active {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
}
.sliders button,
.close-save,
.close-library {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: none;
  background: rgb(77, 77, 77);
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.controls {
  display: flex;
  flex-direction: column;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
}

.panel button {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem 2rem;
  background: rgb(9, 12, 22);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 1rem;
}
.panel p {
  font-size: 1.2rem;
}
.libary-panel,
.generate-panel,
.save-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adjust,
.lock {
  font-size: 2rem;
  margin: 2rem 0rem;
  border: none;
  background: none;
  cursor: pointer;
}

/* Slider stuff */
input[type="range"] {
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
}
.copy-container,
.save-container,
.library-container {
  position: fixed;
  top: 0%;
  left: 0%;
  background: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.copy-popup,
.save-popup,
.library-popup {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2rem;
  transition: transform 0.5s ease;
  transition: all 0.5s ease-in-out;
  transform: translateY(-2rem);
  min-width: 30%;
  min-height: 30vh;
}

.copy-popup h2,
.save-popup h2,
.library-popup h2 {
  font-size: 2rem;
  padding: 2rem;
}
.copy-container.active,
.library-container.active,
.save-container.active {
  opacity: 1;
  pointer-events: all;
}
.copy-popup.active,
.save-popup.active,
.library-popup.active {
  transform: translateY(0rem);
}
.save-name {
  font-size: 1rem;
  padding: 0.5rem;
}

.colse-save,
.close-library {
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 0.2rem;
}
.submit-save {
  margin: 1rem;
  padding: 0.5rem 3rem;
  background: rgb(5, 3, 24);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
